In [6]:
import pandas as pd
import numpy as np

In [3]:
# Tartiblash (sort) va reytinglash (ranking)

In [4]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [5]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [6]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [8]:
df.shape

(2499, 12)

In [8]:
df.sort_index()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [10]:
df.sort_index(axis=1)

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year
0,toyota,black,10 days left,usa,159348797,274117,cruiser,6300,new jersey,clean vehicle,jtezu11f88k007763,2008
1,ford,silver,6 days left,usa,166951262,190552,se,2899,tennessee,clean vehicle,2fmdk3gc4bbb02217,2011
2,dodge,silver,2 days left,usa,167655728,39590,mpv,5350,georgia,clean vehicle,3c4pdcgg5jt346413,2018
3,ford,blue,22 hours left,usa,167753855,64146,door,25000,virginia,clean vehicle,1ftfw1et4efc23745,2014
4,chevrolet,red,22 hours left,usa,167763266,6654,1500,27700,florida,clean vehicle,3gcpcrec2jg473991,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,nissan,red,1 days left,usa,167722715,23609,versa,7800,california,clean vehicle,3n1cn7ap9kl880319,2019
2495,nissan,silver,21 hours left,usa,167762225,34553,versa,9200,florida,clean vehicle,3n1cn7ap5jl884088,2018
2496,nissan,silver,21 hours left,usa,167762226,31594,versa,9200,florida,clean vehicle,3n1cn7ap9jl884191,2018
2497,nissan,black,2 days left,usa,167762227,32557,versa,9200,florida,clean vehicle,3n1cn7ap3jl883263,2018
2498,nissan,silver,21 hours left,usa,167762228,31371,versa,9200,florida,clean vehicle,3n1cn7ap4jl884311,2018

In [11]:
df.sort_index(axis=1, ascending=False) # teskari tartiblash

,year,vin,title_status,state,price,model,mileage,lot,country,condition,color,brand
0,2008,jtezu11f88k007763,clean vehicle,new jersey,6300,cruiser,274117,159348797,usa,10 days left,black,toyota
1,2011,2fmdk3gc4bbb02217,clean vehicle,tennessee,2899,se,190552,166951262,usa,6 days left,silver,ford
2,2018,3c4pdcgg5jt346413,clean vehicle,georgia,5350,mpv,39590,167655728,usa,2 days left,silver,dodge
3,2014,1ftfw1et4efc23745,clean vehicle,virginia,25000,door,64146,167753855,usa,22 hours left,blue,ford
4,2018,3gcpcrec2jg473991,clean vehicle,florida,27700,1500,6654,167763266,usa,22 hours left,red,chevrolet
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2019,3n1cn7ap9kl880319,clean vehicle,california,7800,versa,23609,167722715,usa,1 days left,red,nissan
2495,2018,3n1cn7ap5jl884088,clean vehicle,florida,9200,versa,34553,167762225,usa,21 hours left,silver,nissan
2496,2018,3n1cn7ap9jl884191,clean vehicle,florida,9200,versa,31594,167762226,usa,21 hours left,silver,nissan
2497,2018,3n1cn7ap3jl883263,clean vehicle,florida,9200,versa,32557,167762227,usa,2 days left,black,nissan
2498,2018,3n1cn7ap4jl884311,clean vehicle,florida,9200,versa,31371,167762228,usa,21 hours left,silver,nissan

In [12]:
# .rank() method parametri yordamida reyting o'lchash usulini tanlash mumkin (min, max, average, first, dense)
df['rank'] = df['year'].rank(method='average')
df.sort_values('year')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
32,29800,chevrolet,camaro,1973,clean vehicle,46226,red,1q87t3n166389,167763370,pennsylvania,usa,22 hours left,1.0
405,25,ford,door,1984,salvage insurance,41577,white,2ftcf15y9eca14589,167611661,arkansas,usa,17 hours left,2.0
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,3.0
362,25,ford,pickup,1994,salvage insurance,206162,white,1ftdf15y2rnb12612,167361489,georgia,usa,2 days left,4.5
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,55600,lexus,gx,2020,clean vehicle,8186,silver,jtjam7bx4l5251250,167605747,florida,usa,2 days left,2475.5
806,28300,chevrolet,colorado,2020,clean vehicle,13886,silver,1gcgtcen7l1101496,167805497,indiana,usa,2 days left,2475.5
2322,15000,nissan,altima,2020,clean vehicle,14320,blue,1n4bl4cv4lc134145,167656212,ohio,usa,2 days left,2475.5
2344,20100,nissan,rogue,2020,clean vehicle,10875,blue,jn8at2mvxlw103235,167614842,minnesota,usa,14 hours left,2475.5
1388,17000,ford,fusion,2020,clean vehicle,1117,gray,3fa6p0d98lr194138,167742945,pennsylvania,usa,2 days left,2475.5

In [13]:
df.sort_values(by=['price','mileage'], ascending=False)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left,976.0
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left,2005.5
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left,2005.5
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left,2005.5
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left,2005.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0,ford,mpv,2017,clean vehicle,76858,white,1fbax2cv0hkb32599,167656523,texas,usa,2 days left,976.0
349,0,heartland,sundance,2009,clean vehicle,1,white,5sfgf29269e031344,167266321,pennsylvania,usa,7 days left,85.0
309,0,chevrolet,door,2004,salvage insurance,0,maroon,3gnek12t74g240524,167418651,wyoming,usa,18 hours left,38.5
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left,4.5
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,3.0

In [11]:
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,ranking
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,70.5
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,115.0
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,1362.0
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,336.5
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,1362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left,2005.5
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,1362.0
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,1362.0
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,1362.0
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,1362.0

In [12]:
df['ranking']=df['year'].rank()
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,ranking
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,70.5
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,115.0
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,1362.0
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,336.5
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,1362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left,2005.5
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,1362.0
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,1362.0
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,1362.0
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,1362.0

In [13]:
df.sort_values('mileage')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,ranking
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,3.0
504,100,peterbilt,truck,2012,salvage insurance,0,blue,1xp4d49x1cd144875,167529787,florida,usa,17 hours left,162.5
1619,650,ford,door,2017,salvage insurance,0,black,1fadp3k21hl268441,167651911,california,usa,2 days left,976.0
309,0,chevrolet,door,2004,salvage insurance,0,maroon,3gnek12t74g240524,167418651,wyoming,usa,18 hours left,38.5
1236,4200,ford,door,2013,clean vehicle,0,no_color,1fadp3j23dl155179,167773673,pennsylvania,usa,2 days left,241.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,2000,chevrolet,pickup,2003,clean vehicle,507985,red,1gcgc24u53z128586,167781223,wisconsin,usa,21 hours left,31.0
490,475,peterbilt,truck,2012,salvage insurance,902041,gold,1xp4d49x9cd123630,167529786,florida,usa,17 hours left,162.5
516,0,peterbilt,truck,2009,salvage insurance,982486,blue,1xp7d49x09d784257,167529788,florida,usa,17 hours left,85.0
1827,3200,ford,door,2013,clean vehicle,999999,silver,1fadp3k21dl266148,167727773,south carolina,usa,21 hours left,241.5
528,1025,peterbilt,truck,2010,salvage insurance,1017936,color:,1xp7d49x0ad793710,167529842,georgia,usa,17 hours left,97.0

In [14]:
df['rank'] = df['price'].rank(method='min')
df.sort_values('price')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,ranking,rank
410,0,chevrolet,door,1995,salvage insurance,274706,green,2gcec19h8s1195266,167425634,arizona,usa,2 days left,6.0,1.0
330,0,ford,door,1996,salvage insurance,296860,green,1falp62w5th144314,167359712,california,usa,19 hours left,7.5,1.0
331,0,ford,door,2006,salvage insurance,203158,red,1fmzk04136ga07119,167610991,illinois,usa,17 hours left,51.5,1.0
339,0,ford,door,2002,salvage insurance,214800,black,3fafp37372r151014,167360232,south carolina,usa,2 days left,25.5,1.0
496,0,ford,pickup,1996,salvage insurance,252588,red,1ftef15n0tlc14455,167357804,oklahoma,usa,17 hours left,7.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left,2005.5,2495.0
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left,2005.5,2496.0
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left,2005.5,2497.0
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left,2005.5,2498.0
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left,976.0,2499.0

In [15]:
df['rank'] = df['color'].rank(method='average')
df.sort_values('color')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,ranking,rank
135,24005,chevrolet,1500,2017,clean vehicle,51293,beige,1gcukrecxhf153500,167765146,michigan,usa,20 hours left,976.0,3.0
168,20105,buick,door,2016,clean vehicle,51393,beige,5gakvbkd8gj196085,167765770,michigan,usa,20 hours left,686.0,3.0
460,15010,infiniti,mpv,2019,clean vehicle,11394,beige,jn8az2ne8k9236456,167256603,texas,usa,17 hours left,2005.5,3.0
149,6700,ford,cutaway,2014,clean vehicle,204155,beige,1fdfe4fs7eda23699,167756194,pennsylvania,usa,3 days left,336.5,3.0
2418,3000,nissan,door,2015,clean vehicle,132655,beige,1n4al3ap4fn890836,167755716,pennsylvania,usa,2 days left,486.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,11200,jeep,mpv,2019,clean vehicle,8395,yellow,1c4hjxeg7kw589272,167256942,michigan,usa,2 days left,2005.5,2495.0
1362,39500,ford,f-150,2019,clean vehicle,25071,yellow,1ftew1e51kkc05297,167781633,california,usa,21 hours left,2005.5,2495.0
1363,33100,ford,f-150,2019,clean vehicle,33538,yellow,1ftew1c54kkc38135,167781635,california,usa,21 hours left,2005.5,2495.0
536,11100,jeep,mpv,2019,clean vehicle,11449,yellow,1c4hjxegxkw600703,167256957,michigan,usa,2 days left,2005.5,2495.0
548,11030,jeep,mpv,2019,clean vehicle,10861,yellow,1c4hjxeg5kw608448,167256958,michigan,usa,2 days left,2005.5,2495.0